/* SASS Variables */

$white: #fff;
$black: #000;
$green: #638E41;
$green-1: #61A24F;
$grey: #c4c4c4;
$grey-1: #E5E5E5;
$grey-2: #F5F5F7;
$grey-3: #D3D9E5;
$blue-1: #213F7D;
$l-blue: #39CDCC;
$red: #E4033B;

$text-1: #545F7D;
$text-2: #8F96A9;
$text-3: #8B9ABB;
$text-4: #9DA4B5;